In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [3]:
os.getcwd()

'c:\\Users\\HP\\Desktop\\Machine Learning Programing with prajwal'

In [4]:
os.chdir('C:\\Users\\HP\\Downloads\\Batch 93 Day25')

In [5]:
df1=pd.read_excel('c:\\Users\\HP\\Downloads\\Batch 93 Day25\\Data Preprocessing Data File.xlsx')
df1

   Country   Age   Salary  Purchased
0   France   44.0  72000.0         No
1       NaN  27.0  48000.0        Yes
2  Germany    NaN  54000.0         No
3    Spain   39.0      NaN         No
4  Germany    NaN  64000.0        Yes
5   France   35.0  58000.0        Yes
6    Spain   39.0  52000.0         No
7   France   48.0      NaN        Yes
8  Germany   50.0  83000.0         No
9   France   37.0  67000.0        Yes

In [6]:
x=df1.iloc[:,0:-1]
x

   Country   Age   Salary
0   France   44.0  72000.0
1       NaN  27.0  48000.0
2  Germany    NaN  54000.0
3    Spain   39.0      NaN
4  Germany    NaN  64000.0
5   France   35.0  58000.0
6    Spain   39.0  52000.0
7   France   48.0      NaN
8  Germany   50.0  83000.0
9   France   37.0  67000.0

In [7]:
x=df1.iloc[:,0:-1].values
x

array([['France ', 44.0, 72000.0],
       [nan, 27.0, 48000.0],
       ['Germany ', nan, 54000.0],
       ['Spain ', 39.0, nan],
       ['Germany ', nan, 64000.0],
       ['France ', 35.0, 58000.0],
       ['Spain ', 39.0, 52000.0],
       ['France ', 48.0, nan],
       ['Germany ', 50.0, 83000.0],
       ['France ', 37.0, 67000.0]], dtype=object)

In [8]:
y=df1.iloc[:,-1]
y

0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased , dtype: object

In [9]:
x

array([['France ', 44.0, 72000.0],
       [nan, 27.0, 48000.0],
       ['Germany ', nan, 54000.0],
       ['Spain ', 39.0, nan],
       ['Germany ', nan, 64000.0],
       ['France ', 35.0, 58000.0],
       ['Spain ', 39.0, 52000.0],
       ['France ', 48.0, nan],
       ['Germany ', 50.0, 83000.0],
       ['France ', 37.0, 67000.0]], dtype=object)

In [10]:
x[:,1:2]

array([[44.0],
       [27.0],
       [nan],
       [39.0],
       [nan],
       [35.0],
       [39.0],
       [48.0],
       [50.0],
       [37.0]], dtype=object)

In [11]:
from sklearn.impute import SimpleImputer
si=SimpleImputer()
si.fit_transform(x[:,1:2])

array([[44.   ],
       [27.   ],
       [39.875],
       [39.   ],
       [39.875],
       [35.   ],
       [39.   ],
       [48.   ],
       [50.   ],
       [37.   ]])

In [12]:
help(si)

Help on SimpleImputer in module sklearn.impute._base object:

class SimpleImputer(_BaseImputer)
 |  SimpleImputer(*, missing_values=nan, strategy='mean', fill_value=None, copy=True, add_indicator=False, keep_empty_features=False)
 |
 |  Univariate imputer for completing missing values with simple strategies.
 |
 |  Replace missing values using a descriptive statistic (e.g. mean, median, or
 |  most frequent) along each column, or using a constant value.
 |
 |  Read more in the :ref:`User Guide <impute>`.
 |
 |  .. versionadded:: 0.20
 |     `SimpleImputer` replaces the previous `sklearn.preprocessing.Imputer`
 |     estimator which is now removed.
 |
 |  Parameters
 |  ----------
 |  missing_values : int, float, str, np.nan, None or pandas.NA, default=np.nan
 |      The placeholder for the missing values. All occurrences of
 |      `missing_values` will be imputed. For pandas' dataframes with
 |      nullable integer dtypes with missing values, `missing_values`
 |      can be set to either `np.nan` or `pd.NA`.
 |
 |  strategy : str, default='mean'
 |      The imputation strategy.
 |
 |      - If "mean", then replace missing values using the mean along
 |        each column. Can only be used with numeric data.
 |      - If "median", then replace missing values using the median along
 |        each column. Can only be used with numeric data.
 |      - If "most_frequent", then replace missing using the most frequent
 |        value along each column. Can be used with strings or numeric data.
 |        If there is more than one such value, only the smallest is returned.
 |      - If "constant", then replace missing values with fill_value. Can be
 |        used with strings or numeric data.
 |
 |      .. versionadded:: 0.20
 |         strategy="constant" for fixed value imputation.
 |
 |  fill_value : str or numerical value, default=None
 |      When strategy == "constant", `fill_value` is used to replace all
 |      occurrences of missing_values. For string or object data types,
 |      `fill_value` must be a string.
 |      If `None`, `fill_value` will be 0 when imputing numerical
 |      data and "missing_value" for strings or object data types.
 |
 |  copy : bool, default=True
 |      If True, a copy of X will be created. If False, imputation will
 |      be done in-place whenever possible. Note that, in the following cases,
 |      a new copy will always be made, even if `copy=False`:
 |
 |      - If `X` is not an array of floating values;
 |      - If `X` is encoded as a CSR matrix;
 |      - If `add_indicator=True`.
 |
 |  add_indicator : bool, default=False
 |      If True, a :class:`MissingIndicator` transform will stack onto output
 |      of the imputer's transform. This allows a predictive estimator
 |      to account for missingness despite imputation. If a feature has no
 |      missing values at fit/train time, the feature won't appear on
 |      the missing indicator even if there are missing values at
 |      transform/test time.
 |
 |  keep_empty_features : bool, default=False
 |      If True, features that consist exclusively of missing values when
 |      `fit` is called are returned in results when `transform` is called.
 |      The imputed value is always `0` except when `strategy="constant"`
 |      in which case `fill_value` will be used instead.
 |
 |      .. versionadded:: 1.2
 |
 |  Attributes
 |  ----------
 |  statistics_ : array of shape (n_features,)
 |      The imputation fill value for each feature.
 |      Computing statistics can result in `np.nan` values.
 |      During :meth:`transform`, features corresponding to `np.nan`
 |      statistics will be discarded.
 |
 |  indicator_ : :class:`~sklearn.impute.MissingIndicator`
 |      Indicator used to add binary indicators for missing values.
 |      `None` if `add_indicator=False`.
 |
 |  n_features_in_ : int
 |      Number of features seen during :term:`fit`.
 |
 |      .. versionadded:: 0.24
 |
 |  feature_names_in_ : ndarray of shape (`n_features_in_`,)
 |      Names of features seen during :term:`fit`. Defined only when `X`
 |      has feature names that are all strings.
 |
 |      .. versionadded:: 1.0
 |
 |  See Also
 |  --------
 |  IterativeImputer : Multivariate imputer that estimates values to impute for
 |      each feature with missing values from all the others.
 |  KNNImputer : Multivariate imputer that estimates missing features using
 |      nearest samples.
 |
 |  Notes
 |  -----
 |  Columns which only contained missing values at :meth:`fit` are discarded
 |  upon :meth:`transform` if strategy is not `"constant"`.
 |
 |  In a prediction context, simple imputation usually performs poorly when
 |  associated with a weak learner. However, with a powerful learner, it can
 |  lead to as good or better performance than complex imputation such as
 |  :class:`~sklearn.impute.IterativeImputer` or :class:`~sklearn.impute.KNNImputer`.
 |
 |  Examples
 |  --------
 |  >>> import numpy as np
 |  >>> from sklearn.impute import SimpleImputer
 |  >>> imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
 |  >>> imp_mean.fit([[7, 2, 3], [4, np.nan, 6], [10, 5, 9]])
 |  SimpleImputer()
 |  >>> X = [[np.nan, 2, 3], [4, np.nan, 6], [10, np.nan, 9]]
 |  >>> print(imp_mean.transform(X))
 |  [[ 7.   2.   3. ]
 |   [ 4.   3.5  6. ]
 |   [10.   3.5  9. ]]
 |
 |  Method resolution order:
 |      SimpleImputer
 |      _BaseImputer
 |      sklearn.base.TransformerMixin
 |      sklearn.utils._set_output._SetOutputMixin
 |      sklearn.base.BaseEstimator
 |      sklearn.utils._metadata_requests._MetadataRequester
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, *, missing_values=nan, strategy='mean', fill_value=None, copy=True, add_indicator=False, keep_empty_features=False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y=None)
 |      Fit the imputer on `X`.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix}, shape (n_samples, n_features)
 |          Input data, where `n_samples` is the number of samples and
 |          `n_features` is the number of features.
 |
 |      y : Ignored
 |          Not used, present here for API consistency by convention.
 |
 |      Returns
 |      -------
 |      self : object
 |          Fitted estimator.
 |
 |  get_feature_names_out(self, input_features=None)
 |      Get output feature names for transformation.
 |
 |      Parameters
 |      ----------
 |      input_features : array-like of str or None, default=None
 |          Input features.
 |
 |          - If `input_features` is `None`, then `feature_names_in_` is
 |            used as feature names in. If `feature_names_in_` is not defined,
 |            then the following input feature names are generated:
 |            `["x0", "x1", ..., "x(n_features_in_ - 1)"]`.
 |          - If `input_features` is an array-like, then `input_features` must
 |            match `feature_names_in_` if `feature_names_in_` is defined.
 |
 |      Returns
 |      -------
 |      feature_names_out : ndarray of str objects
 |          Transformed feature names.
 |
 |  inverse_transform(self, X)
 |      Convert the data back to the original representation.
 |
 |      Inverts the `transform` operation performed on an array.
 |      This operation can only be performed after :class:`SimpleImputer` is
 |      instantiated with `add_indicator=True`.
 |
 |      Note that `inverse_transform` can only invert the transform in
 |      features that have binary indicators for missing values. If a feature
 |      has no missing values at `fit` time, the feature won't have a binary
 |      indicator, and the imputation done at `transform` time won't be
 |      inverted.
 |
 |      .. versionadded:: 0.24
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape                 (n_samples, n_features + n_features_missing_indicator)
 |          The imputed data to be reverted to original data. It has to be
 |          an augmented array of imputed data and the missing indicator mask.
 |
 |      Returns
 |      -------
 |      X_original : ndarray of shape (n_samples, n_features)
 |          The original `X` with missing values as it was prior
 |          to imputation.
 |
 |  transform(self, X)
 |      Impute all missing values in `X`.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix}, shape (n_samples, n_features)
 |          The input data to complete.
 |
 |      Returns
 |      -------
 |      X_imputed : {ndarray, sparse matrix} of shape                 (n_samples, n_features_out)
 |          `X` with imputed values.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __annotations__ = {'_parameter_constraints': <class 'dict'>}
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.TransformerMixin:
 |
 |  fit_transform(self, X, y=None, **fit_params)
 |      Fit to data, then transform it.
 |
 |      Fits transformer to `X` and `y` with optional parameters `fit_params`
 |      and returns a transformed version of `X`.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Input samples.
 |
 |      y :  array-like of shape (n_samples,) or (n_samples, n_outputs),                 default=None
 |          Target values (None for unsupervised transformations).
 |
 |      **fit_params : dict
 |          Additional fit parameters.
 |
 |      Returns
 |      -------
 |      X_new : ndarray array of shape (n_samples, n_features_new)
 |          Transformed array.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.utils._set_output._SetOutputMixin:
 |
 |  set_output(self, *, transform=None)
 |      Set output container.
 |
 |      See :ref:`sphx_glr_auto_examples_miscellaneous_plot_set_output.py`
 |      for an example on how to use the API.
 |
 |      Parameters
 |      ----------
 |      transform : {"default", "pandas"}, default=None
 |          Configure output of `transform` and `fit_transform`.
 |
 |          - `"default"`: Default output format of a transformer
 |          - `"pandas"`: DataFrame output
 |          - `None`: Transform configuration is unchanged
 |
 |      Returns
 |      -------
 |      self : estimator instance
 |          Estimator instance.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from sklearn.utils._set_output._SetOutputMixin:
 |
 |  __init_subclass__(auto_wrap_output_keys=('transform',), **kwargs) from builtins.type
 |      Set the ``set_{method}_request`` methods.
 |
 |      This uses PEP-487 [1]_ to set the ``set_{method}_request`` methods. It
 |      looks for the information available in the set default values which are
 |      set using ``__metadata_request__*`` class attributes, or inferred
 |      from method signatures.
 |
 |      The ``__metadata_request__*`` class attributes are used when a method
 |      does not explicitly accept a metadata through its arguments or if the
 |      developer would like to specify a request value for those metadata
 |      which are different from the default ``None``.
 |
 |      References
 |      ----------
 |      .. [1] https://www.python.org/dev/peps/pep-0487
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.utils._set_output._SetOutputMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |      Helper for pickle.
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  __sklearn_clone__(self)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : bool, default=True
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : dict
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as :class:`~sklearn.pipeline.Pipeline`). The latter have
 |      parameters of the form ``<component>__<parameter>`` so that it's
 |      possible to update each component of a nested object.
 |
 |      Parameters
 |      ----------
 |      **params : dict
 |          Estimator parameters.
 |
 |      Returns
 |      -------
 |      self : estimator instance
 |          Estimator instance.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.utils._metadata_requests._MetadataRequester:
 |
 |  get_metadata_routing(self)
 |      Get metadata routing of this object.
 |
 |      Please check :ref:`User Guide <metadata_routing>` on how the routing
 |      mechanism works.
 |
 |      Returns
 |      -------
 |      routing : MetadataRequest
 |          A :class:`~utils.metadata_routing.MetadataRequest` encapsulating
 |          routing information.

In [13]:
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy='median')
si.fit_transform(x[:,1:2])

array([[44.],
       [27.],
       [39.],
       [39.],
       [39.],
       [35.],
       [39.],
       [48.],
       [50.],
       [37.]])

In [14]:
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy='constant')
si.fit_transform(x[:,1:2])

array([[44.0],
       [27.0],
       ['missing_value'],
       [39.0],
       ['missing_value'],
       [35.0],
       [39.0],
       [48.0],
       [50.0],
       [37.0]], dtype=object)

In [15]:
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy='constant',fill_value=555)
si.fit_transform(x[:,1:2])

array([[44.0],
       [27.0],
       [555],
       [39.0],
       [555],
       [35.0],
       [39.0],
       [48.0],
       [50.0],
       [37.0]], dtype=object)

In [16]:
x

array([['France ', 44.0, 72000.0],
       [nan, 27.0, 48000.0],
       ['Germany ', nan, 54000.0],
       ['Spain ', 39.0, nan],
       ['Germany ', nan, 64000.0],
       ['France ', 35.0, 58000.0],
       ['Spain ', 39.0, 52000.0],
       ['France ', 48.0, nan],
       ['Germany ', 50.0, 83000.0],
       ['France ', 37.0, 67000.0]], dtype=object)

In [17]:
x[:,0:1]

array([['France '],
       [nan],
       ['Germany '],
       ['Spain '],
       ['Germany '],
       ['France '],
       ['Spain '],
       ['France '],
       ['Germany '],
       ['France ']], dtype=object)

In [18]:
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy='most_frequent')
si.fit_transform(x[:,0:1])

array([['France '],
       ['France '],
       ['Germany '],
       ['Spain '],
       ['Germany '],
       ['France '],
       ['Spain '],
       ['France '],
       ['Germany '],
       ['France ']], dtype=object)

In [19]:
x[:,0:-1]

array([['France ', 44.0],
       [nan, 27.0],
       ['Germany ', nan],
       ['Spain ', 39.0],
       ['Germany ', nan],
       ['France ', 35.0],
       ['Spain ', 39.0],
       ['France ', 48.0],
       ['Germany ', 50.0],
       ['France ', 37.0]], dtype=object)

In [20]:
x=df1.iloc[:,0:-1]
x

   Country   Age   Salary
0   France   44.0  72000.0
1       NaN  27.0  48000.0
2  Germany    NaN  54000.0
3    Spain   39.0      NaN
4  Germany    NaN  64000.0
5   France   35.0  58000.0
6    Spain   39.0  52000.0
7   France   48.0      NaN
8  Germany   50.0  83000.0
9   France   37.0  67000.0

In [21]:
x=df1.iloc[:,0:1]
x

   Country
0   France
1       NaN
2  Germany
3    Spain
4  Germany
5   France
6    Spain
7   France
8  Germany
9   France